alpaca-py>=0.14
streamlit>=1.35
pandas>=2.0
plotly>=5.20
yfinance>=0.2
datasets>=2.19
mplfinance==0.12.10b0
techa @ git+https://github.com/laceto/techa.git@main
openai>=1.40
langchain-openai>=0.2
langgraph>=0.2
